*{
    word-break: break-word;
}
ul li {
    list-style-type: none;
}
.img-responsive{
    margin: 0px auto;
}
li[role='presentation']{
    width: 20%;
    font-size: 16px;
}
.img-responsive{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.menucat ul {
    border: 1px solid #ebebeb;
    background: #3c43a4;
    width: 100%;
    display: none;
    position: absolute;
    top:0;
    left:100%;
    border-radius: 5px;
}
.menucat>ul>li:last-child>ul li ul{
    position: absolute;
    top: 0;
    right: 100% !important;
    left: unset;
}
.menucat>ul>li>ul {
    top: 100%;
    left: 0;
}
.menucat>ul{
    background: #3c43a4;
    position: relative;
    top:0;
    left:0;
    display: flex;
    justify-content: space-around;
}
.menucat ul li {
    list-style: none;
    position:relative;
    flex-grow: 1;
    padding: 10px 0px;
    border-radius: 5px;
}
.menucat ul li a{
    display: block;
    color: white;
}
.menucat ul li a:hover{
    color: #FF5063;
}
.menucat ul li:hover{
    background: #4c7ace;
}
.menucat{
    color: white;
    text-align: center;
    width: 100%;
    background-color: #3c43a4;
}
.menucat::after{
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .15s ease-in-out;
    opacity: 0;
    visibility:hidden;
    background-color: rgba(0,0,0,.7);
    pointer-events: none;
}
.menucat ul, li{
    z-index:15;
}
.menucat:hover::after{
    z-index:10;
    opacity:1;
    visibility:visible;
    position: fixed;
}
.menu_top_pro{
    display: flex;
    justify-content: center;
    text-align: center;
}

/*================================== CART PAGE =================================*/

.cart {
    margin-bottom: 40px;
    margin-top: 40px;
}

/*================================== CHECKOUT PAGE =================================*/

.checkout-block {
    margin-bottom: 30px;
    margin-top: 30px;
}
.checkout-block__title {
    margin-bottom: 30px;
}

.summary {
    margin-bottom: 30px;
}

.summary-content {
    display: flex;
    justify-content: space-between;

}
.summary__title {
    width: 70%;
}
.summary__quantity {
    width: 5%;
}

.summary__price {
    width: 25%;
}

.ecommerce_manu ul li{
    list-style-type: none;
    margin: 10px 0px;
}
.ecommerce_manu ul li a{
    margin-left: 20px;
}
.mobiles{
    padding: 3.5em 0 5em;
}
.catforpro ul li{
    margin: 0px 0px 7px;
}
.catforpro ul li ul{
    margin: 7px 0px 0px;
}
.single_product{
    margin-bottom: 60px;
}
.manu_active, .cat_active{
    color: red;
}
.cat_title_de{
    position: absolute;
    top: 0;
    left: 0;
    font-family: Impact, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    /*background: linear-gradient(90deg, #9f93ee, #fff, #dbdbdb);*/
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(122, 139, 255), #ffffff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s infinite;
    padding-left: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
@keyframes animate {
    0% {
        background-position: 500%;
    }
    100% {
        background-position: -500%;
    }
}
.cat_title{
    width: 40%;
    position: relative;
}
.pages{
    float: right;
    padding-right: 30px;
}
.pages::after{
    clear: both;
    content: '';
    display: block;
}
.dropdown i {
    font-size: 14px;
    color: white;
}
.dropdown i:hover{
    color: rgb(255, 93, 106);
}
.description{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.description div {
    width: 33%;
}
.rating-avg{
    text-align: center;
    position: relative;
}
.rating-avg b{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.rating-avg span{
    color: orange !important;
    font-size: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.listRatingText{
    display: inline-block;
    margin-left: 15px;
    position: relative;
    background: #52b858;
    color: #fff;
    padding: 2px 8px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 2px;
}
.listRatingText::after{
     right: 100%;
     top: 50%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;
     border-color: rgba(82,184,88,0);
     border-right-color: #52b858;
     border-width: 6px;
     margin-top: -6px;
 }
.fa.fa-star{
    color: grey;
}
.listRate {
    margin-right: 3px;
    display: inline-block;
    min-height: 30px;
}
.listRate .star_active, .star_active, .listRate .star_active_click, .listRate_edit .star_active_click {
    color: orange !important;
}
.user_only{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    visibility: hidden;
    opacity: 0;
}
.log_option_req{
    display: flex;
    justify-content: space-around;
}
.log_option_req button{
    width: 47%;
}
.user_login_req{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 25px;
    border-radius: 5px;
}
.user_login_req p {
    margin-bottom: 15px;
}
.after_form{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}